.gallery-body{
     font-family: 'Quicksand', sans-serif;
     place-items: center;
}

.container1{
    padding: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.container2{
    background-color: #F2EADF;;
    padding: 2%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}

.row1{
    background-color: #F2EADF;;
    padding: 0;
    margin: 0;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid black;
}

.col1{
    width: auto;
    height: auto;
    padding: 0%;
    margin: 1%;
    align-content: center;
    text-align: center;
}



@media (max-width: 900px) {
    .carousel {
      height:100%;
      width: 100%;
    }
}