.gallery-body{
    margin: 5%;
     font-family: 'Quicksand', sans-serif;
}

.container1{
    padding: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    text-align: center;
}

.row1{
    background-color: #F2EADF;;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    border: 1px solid black;
}

.col1{
    width: auto;
    padding: 1%;
    margin: 0;
    align-content: center;
    text-align: center;
}

@media (max-width: 900px) {
    .carousel {
      width:auto;
      height: auto;
    }
}